# Enforce Node and pnpm versions as specified in `package.json`
engine-strict=true

# Save exact dependency versions in `package.json`
save-prefix=""

# Don't fail install when encountering unmet peer dependencies
strict-peer-dependencies=false

# Run pre/post scripts
enable-pre-post-scripts=true
