@import 'modern-normalize/modern-normalize.css';
@import '@h5web/app/styles.css';

:root {
  scrollbar-color: unset; /* https://github.com/microsoft/vscode/issues/213045 */
}

#root,
[data-fill-height] {
  height: 100vh;
}

[data-color-scheme='dark'] #root,
[data-color-scheme='vscode'][data-vscode-theme-kind='vscode-dark'] #root {
  filter: invert();

  /* Set shadows to lighter colors so they remain dark once inverted */
  --h5w-btnRaised--shadowColor: #f5f5f5;
  --h5w-btnRaised-hover--shadowColor: #fff;
  --h5w-domainSlider-track--shadowColor: #f5f5f5;
  --h5w-domainSlider-dataTrack--shadowColor: #fff;

  /* Change line colors for better contrast once inverted */
  --h5w-line--color: deepskyblue;
  --h5w-line--colorAux: orange, lightgreen, red, violet, gold;
}

[data-color-scheme='dark'] #root [data-keep-colors],
[data-color-scheme='dark'] #root [data-keep-canvas-colors] canvas,
[data-color-scheme='vscode'][data-vscode-theme-kind='vscode-dark']
  #root
  [data-keep-colors],
[data-color-scheme='vscode'][data-vscode-theme-kind='vscode-dark']
  #root
  [data-keep-canvas-colors]
  canvas {
  filter: invert(); /* invert back to normal colors */
}
